<html>
  <head>
    <title>{{subject}}</title>
  </head>

  <body>
    <p>Hey {{name}},</p>

    <p>you was invited into team of open ai, with an account is</p>
    <p>email: {{email}}</p>
    <p>password: {{password}}</p>

    <p>Please click below to confirm your email</p>
    <p>
      <a href='{{url}}'>Confirm</a>
    </p>

    <p>If you did not request this email you can safely ignore it.</p>
  </body>
</html>
